* {
  margin: 0;
  padding: 0;
}
body {
  
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: rgb(3, 1, 35);
 
}
#centerContainer{
    display: flex;
    justify-content: center;
    padding: 50px 100px 50px 100px;
    
    
}
#formContainer{
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    width: 320px;
    padding: 80px;

}

input {
 
  margin: 10px 0px 10px 0px;
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, 0.133);
}
input:focus{
  outline: none;
}

#addpicture{
  padding: 15px;
  background-color: rgb(68, 189, 229);
  color: whitesmoke;
  font-size: medium;
  border: none;
}
#addpicture:hover{
  background-color:rgb(58, 152, 183);
  transition: 0.7s;
}
#addpicture:active{
  background-color:rgb(114, 213, 246);

}